.development {
  background-color: @alt-bg;
  text-align: center;
}

.development__text {
  margin-top: 20px;
}

.development__item picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 150px;
  height: 150px;
  background-color: @text;
  border-radius: 15px;
}

.development__description {
  font-weight: 700;
  color: @orange;
  max-width: 288px;
  margin: 0 auto;
  margin-top: 10px;
}
