.documents {
  text-align: center;
  // background-image: url('../img/documents-bg-paralax.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
}

.documents__title-h3 {
  .font-set(16px, 24px);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}

.documents__text {
  margin-bottom: 20px;
}

.documents__slider {
  height: 360px;
}
