.modal {
  background-color: @body;
  color: @text;
  width: 100%;
  min-height: 400px;
  padding: 35px 0;
}

.modal__title-wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal__body {
  padding: 0 10px;
}

.modal__text {
  padding-bottom: 10px;
}

.modal__vacancy {
  padding-left: 5px;
}

.modal__vacancy::before {
  content: "-";
  padding-right: 5px;
}

.modal__vacancy::after {
  content: ";";
  padding-left: 2px;
}

.modal__table {
  margin: 0 auto;
  font-size: 10px;
  line-height: 1.5;
  border-collapse: collapse;
  & td {
    border: 1px white solid;
    padding: 5px;
    vertical-align: top;
    &:first-child {
      width: 40%;
    }
    &:last-child {
      width: 60%;
    }
  }
}

@media (min-width: @tablet) {
  .modal__title-wrapper {
    width: 704px;
    margin-bottom: 30px;
  }

  .modal__text {
    width: 704px;
    margin: 0 auto;
    text-indent: unset;
  }

  .modal__vacancies {
    width: 704px;
    margin: 0 auto;
  }

  .modal__table {
    font-size: 14px;
  }
}

@media (min-width: @desktop) {
  .modal__title-wrapper {
    width: 1152px;
    margin-bottom: 40px;
  }

  .modal__text {
    width: 1152px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .modal__vacancies {
    width: 1152px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .modal__table {
    width: 1152px;
    font-size: 16px;
  }
}
