.partners {
  background-color: @alt-bg;
}

.partners__slider {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.partners__list {
  text-align: center;
}

@media (min-width: @tablet) {
  .partners__list {
    display: flex;
  }

  .partners__item:not(:last-child) {
    margin-right: 5px;
  }
}

@media (min-width: @desktop) {
  .partners__link {
    display: inline-block;
    filter: grayscale(1);
    transition-property: filter, transform;
    transition: .3s cubic-bezier(.4,0,.2,1);
    &:hover,
    &:focus {
      transform:translateY(-20px);
      filter: grayscale(0);
    }
  }
}
