//--=Variables: color=--//

@text: #f4f4fe;
@body: #011a27;
@body--60: rgba(1,26,39,0.6);
@black: #000000;
@nav-light: #011c2a;
@nav: #011a27;
@promo: linear-gradient( 90deg, rgba(244,244,254,0.3) 0%, rgba(244,244,254,0) 100%);
@orange: #f0810f;
@yellow: #e6df44;
@alt-bg: #042435;
@separator: linear-gradient( 90deg, @orange 0%, @yellow 100%);

//--=Variables: width=--//

@tablet: 768px;
@desktop: 1280px;

//--=Mixins=--//

.button-clean() {
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.font-set(@f-size, @l-height) {
  font-size: @f-size;
  line-height: @l-height;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

//--=Base global styles=--//

body {
  margin: 0;
  padding: 0;
  .font-set(14px, 20px);
  background-color: @body;
  color:@text;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width: 100%;
  height: auto;
}

//--=Help classes=--//
.container {
  padding: 35px 16px;
  max-width: 735px;
  margin: 0 auto;
}

.no-scroll {
  position: fixed;
  width:100%;
}

.title-wrapper {
  text-align: center;
}

.title {
  .font-set(20px, 30px);
  position: relative;
  font-family: "Russo One", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: @orange;
    background-image: @separator;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
  }
}

.text {
  .font-set(14px, 20px);
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-up {
	position: fixed;
	display: none;
	z-index: 1000;
	bottom: 30px;
	right: 1em;
}

.scroll-up svg {
  transform: rotate(180deg);
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
	width: 35px;
  height: 35px;
  border-radius: 4px;
  transition: background-color .4s;
}

.scroll-up a:hover,
.scroll-up a:focus {
	background-color: rgba(235, 235, 235, .8);
}

@media (min-width: @tablet) {
  .container {
    padding: 35px 32px;
    max-width: none;
    width: 704px;
  }

  .title-wrapper {
    text-align: right;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
    display: inline-block;
    &::before {
      left: 0;
      margin-left: 0;
    }
  }

  .text {
    text-align: justify;
    text-indent: 30px;
  }
}

@media (min-width: @desktop) {
  .container {
    width: 1152px;
    padding: 80px 64px;
  }
  .title-wrapper {
    margin-bottom: 40px;
  }

  .title {
    font-size: 50px;
    line-height: 1;
    &::before {
      width: 60px;
      height: 5px;
      bottom: -5px;
    }
  }

  .text {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

@media (min-width: 1440px) {
  .scroll-up {
    right: 6%;
  }
}
